{
  "discord": {
    "token": "your token from discord api page",
    "helpTimer": "10000"
  },
  "emoji": {
    "redA": false,
    "redB": false,
    "spaceSplit": "  ",
    "charSplit": ""
  },
  "purge": {
    "limit": 5
  }
}
